extends ./layout.pug

block contenido
    .col-md-8.removeFloat.center-block.text-center.bigTopSpace
        .row 
            .col-md-3
                h1 REF
            .col-md-4
                h1 Cantidad  
            .col-md-4
                h1 Estado
        each x in d
            .white.border.tr.large-padding
                .row
                    .col-md-3
                        h2=x.ref
                    .col-md-4
                        h2=x.cantidad
                    .col-md-4
                        h2=x.estado
        .row.topSpace
            .col-md-6
                a(href ="/worker/new",class= "btn btn-default btn-lg") Nueva Entrega