extends ./layout.pug

block contenido
    .col-md-8.removeFloat.center-block.text-center.bigTopSpace  
        h1 Calzado Andapez
        h2  Bienvenido 
        a(href ="/login" class  = "btn btn-primary btn-lg active rightSpace" role="button") Iniciar Sesión
        