extends ./layout.pug

block contenido
    .col-md-8.removeFloat.center-block.text-center.TopSpace
        h1 Nuevo Trabajador
        form(name="p" action="/admin/users" , method="POST" enctype="multipart/form-data")
            div(class = "form-group")
                label(for="cedula") Cedula
                input(type = "text", name = "cedula",placeholder = "cedula",id="cedula", class = "form-control")
            div
                label(for="nombre") Nombre
                input(type = "text", name = "nombre",id = "nombre" class = "form-control")
            div
                label(for="nombre") telefono
                input(type = "text", name = "telefono",id = "telefono" class = "form-control")
            div
                label(for="nombre") username
                input(type = "text", name = "username",id = "username" class = "form-control")
            div
                label(for="nombre") password
                input(type = "text", name = "password",id = "password" class = "form-control")
            div
                select(class="form-control" name="tipo",id="tipo")
                        option(value="diseñador") diseñador
                        option(value="obrero") obrero
            div(class="row topSpace")
                div(class="col-sm-10 col-xs-10 text-left")
                    input(type = "submit"  value = "Enviar" class = "btn btn-info")
            