extends ./layout.pug

block contenido
    div(class= "col-md-8 removeFloat center-block text-center bigTopSpace")
        h1 Editar Cuenta
        each x in bills
            form(action="/admin/bills/"+x.id+"?_method=PUT" , method="POST")
                input(type="hidden" value="PUT" name="_method")
                div(class = "form-group")
                    label(for="cedula") Proveedor
                    select(class="form-control" name="proveedor",id="proveedor")
                        each x in prov
                            option(value=x.id)=x.nombre
                div
                    label(for="material") Material
                    select(class="form-control" name="material",id="material")
                        each x in mat
                            option(value=x.id)=x.name
                div
                    label(for="valor") Valor
                    input(type = "text", name = "valor",id = "valor" class = "form-control" required="")
                div(class="row topSpace")
                    div(class="col-sm-10 col-xs-10 text-left")
                        input(type = "submit"  value = "Guardar" class = "btn btn-info left-block")