extends ./layout.pug

block contenido
    div(class= "col-md-8 removeFloat center-block text-center bigTopSpace")
        h1 Editar Cuenta
        each x in bills
            form(action="/admin/bills/"+x.id+"?_method=PUT" , method="POST")
                input(type="hidden" value="PUT" name="_method")
                div(class = "form-group")
                    label(for="title") Proveedor
                    input(type = "text", name = "nombre",placeholder = "Nombre",id="nombre", class = "form-control" , value =x.nombre,required="")
                div(class="row topSpace")
                    div(class="col-sm-10 col-xs-10 text-left")
                        input(type = "submit"  value = "Guardar" class = "btn btn-info left-block")